.courses {
    padding: 20px 0;
}

.courses .content {

    text-align: end;
    margin: 40px 0;
    flex-basis: 100%;
}

.courses .content p {
    font-size: 16px;


}

.courses .left {
    justify-content: start;
    padding-left: 20px;
}

.courses .right {
    justify-content: end;
    padding-right: 20px;
}

.courses .card-details {
    margin: 60px 0;
}

@media only screen and (max-width: 1300px) {}

@media only screen and (max-width: 1000px) {
    .courses .smCon {
        width: 90%;
    }

    .courses .duration {
        width: 100%;
    }

}

@media only screen and (max-width: 800px) {
    .courses .left {
        justify-content: start;
        flex-basis: 100%;
    }

    .courses .duration {
        width: 100%;
    }

    .courses .toppart {
        flex-direction: column-reverse;
        align-items: center;
    }

    .courses .toppart p {
        text-align: center;

    }
}

@media only screen and (max-width: 650px) {

    .courses .coursecard img {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {

    .courses .coursecard {
        flex-direction: column;
    }
}