.testimonial .row {
    margin: 30px 0;
}

.testimonial .mini-row {
    margin: 6px 0;
}

.testimonial .fontawe {
    font-size: 60px;
    color: rgb(71, 125, 156);
}

.testimonial .usercol {
    flex-basis: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.testimonial .usercol img {
    margin-right: 20px;
}

@media only screen and (max-width:660px) {
    .testimonial .smCon {
        width: 90%;
    }

    .testimonial .col2 {
        flex-basis: 80%;
    }
}

@media only screen and (max-width:500px) {
    .testimonial .smCon {
        width: 100%;
    }

    .testimonial .col2 {
        flex-basis: 90%;
    }
}